<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class=" bg-gray-400">
<div class="container mx-auto">

    <div class="flex justify-center px-6 my-12">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex  space-x-4 ">
            <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg ">

                <h3 class="text-3xl font-bold text-red-900">
                    Likes </h3>

                {% for liked in like %}
                <div class="flex items-center px-6 my-12 space-x-3">
                    <div class="w-16 h-16">
                        {% if liked.userImage|length < 1 %}
                        <img class="rounded-full w-16 h-16 shadow-sm transform md:scale-110 "
                             src="/pictures/none.jpg" alt=""/>
                        {% else %}
                        <img class="rounded-full w-16 h-16 shadow-sm transform md:scale-110 "
                             src="/pictures/{{liked.id}}/{{liked.userImage}}" alt=""/>
                        {% endif%}
                    </div>
                    <div class="w-3/4">
                        <p class="text-lg">
                            {{ liked.name }} </p>
                        <p class="text-gray-500 text-sm font-semibold break-words text-justify">
                            {{ liked.personality }} </p>
                    </div>
                </div>
                {% endfor %}

                <div>
                    <form method="get" action="/user/{{userID}}">
                        <button class="focus:outline-none text-red-600 font-bold py-2 px-4 rounded-md border border-red-600 hover:bg-red-50"
                                type="submit" name="id"> Back
                        </button>
                    </form>
                </div>
            </div>


            <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg ">

                <h3 class="text-3xl font-bold text-red-900">
                    Dislikes </h3>

                {% for disliked in dislike %}
                <div class="flex items-center px-6 my-12 space-x-3">
                    <div>
                        {% if disliked.userImage|length < 1 %}
                        <img class="rounded-full w-16 h-16 shadow-sm transform md:scale-110 "
                             src="/pictures/none.jpg" alt=""/>
                        {% else %}
                        <img class="rounded-full w-16 h-16 shadow-sm transform md:scale-110 "
                             src="/pictures/{{disliked.id}}/{{disliked.userImage}}" alt=""/>
                        {% endif%}
                    </div>
                    <div class="w-3/4">
                        <p class="text-lg">
                            {{ disliked.name }} </p>
                        <p class="text-gray-500 text-sm font-semibold break-words text-justify">
                            {{ disliked.personality }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

</body>
</html>