<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

{{userID}}
<br>
{{name}}
{{interestID}}
{{personality}}
{{gender}}

{% if userImage is null %}
<img class="w-40" src="/{{image}}" alt="?">
{% else %}
<img class="w-40" src="/{{userImage}}" alt="?">
{% endif%}

<form method="post" action="/dislike/{{userID}}">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit" name="dislike" value="{{interestID}}"> Dislike
    </button>
</form>

<form method="post" action="/like/{{userID}}">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit" name="like" value="{{interestID}}"> Like
    </button>
</form>

</body>
</html>