<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>

<div class="bg-gray-100 overflow-x-hidden">
    <div class="px-6 py-8">
        <div class="flex justify-between container mx-auto">
            <div class="w-full lg:w-8/12">

                <div class="flex items-center justify-between">
                    <h1 class="text-4xl font-bold text-red-900 ">
                        Hello, {{name}} !
                    </h1>
                </div>

                <div class="mt-6">
                    <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                        <div class="flex justify-between items-center">
                            <span class="text-2xl font-bold text-indigo-900">
                                Personality
                            </span>
                        </div>
                        <div class="mt-2">
                            <p class="mt-2 text-gray-600 text-justify">
                                {{personality}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="mt-6">
                    <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                        <div class="flex justify-between items-center">
                            <span class="text-2xl font-bold text-indigo-900">
                                Looking for
                            </span>
                        </div>
                        {% if lookingFor == "Female" %}
                        <img class="h-8 m-2" src="/pictures/female.jpg" alt="?">
                        {% elseif lookingFor == "Male" %}
                        <img class="h-8 m-2" src="/pictures/male.jpg" alt="?">
                        {% else %}
                        <div class="flex flex-row">
                            <img class="h-8 m-2" src="/pictures/female.jpg" alt="?">
                            <img class="h-8 m-2" src="/pictures/male.jpg" alt="?">
                        </div>
                        {% endif%}
                    </div>
                </div>

                <div class="mt-6">
                    <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                        <div class="flex justify-between items-center">
                            <form method="get" action="/lookingFor/{{id}}">
                                <button class="bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                        type="submit" name="id" value="{{id}}">
                                    Smell doggies
                                </button>
                            </form>

                            <form method="get" action="/history/{{id}}">
                                <button class="bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                        type="submit" name="id" value="{{id}}">
                                    History
                                </button>
                            </form>

                            <form method="post" action="/logout">
                                <button class="focus:outline-none text-red-600 font-bold py-2 px-4 rounded-md border border-red-600 hover:bg-red-50"
                                        type="submit" name="id" value="{{id}}">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="-mx-8 w-4/12 hidden lg:block h-auto flex  space-x-4">
                <div class="px-8 h-auto">
                    <div class="flex flex-col bg-white max-w-sm px-6 py-4 mx-auto rounded-lg shadow-md">

                        {{type}}
                        {{size}}
                        {{uploadStatus}}

                        <div class="flex flex-row py-2">
                            <div class=" flex w-8/12">
                                {% if first|length < 1 %}
                                <img class="rounded-md items-center" src="/pictures/none.jpg" alt="?">
                                {% else %}
                                <img class="rounded-md items-center" src="/pictures/{{id}}/{{first}}" alt="?">
                                {% endif%}

                                <div class="flex flex-col items-center ">
                                    <form method="post" action="/upload/{{id}}" enctype="multipart/form-data">
                                        <label class=" m-2 bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                            <span class="mt-2 text-base leading-normal">Select </span>
                                            <input type='file' class="hidden" name="image"/>
                                        </label>
                                        <button class=" m-2 bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                                type="submit" name="upload" value="first"> Upload
                                        </button>
                                    </form>

                                    <form method="post" action="/delete/{{id}}">
                                        <button class="focus:outline-none text-red-600 font-bold py-2 px-4 rounded-md border border-red-600 hover:bg-red-50"
                                                type="submit" name="delete" value="{{first}}"> Delete
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="flex flex-row py-2">
                            <div class=" flex w-8/12">
                                {% if second|length < 1 %}
                                <img class="rounded-md items-center" src="/pictures/none.jpg" alt="?">
                                {% else %}
                                <img class="rounded-md items-center" src="/pictures/{{id}}/{{second}}" alt="?">
                                {% endif%}

                                <div class="flex flex-col items-center ">
                                    <form method="post" action="/upload/{{id}}" enctype="multipart/form-data">
                                        <label class=" m-2 bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                            <span class="mt-2 text-base leading-normal">Select </span>
                                            <input type='file' class="hidden" name="image"/>
                                        </label>
                                        <button class=" m-2 bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                                type="submit" name="upload" value="second"> Upload
                                        </button>
                                    </form>

                                    <form method="post" action="/delete/{{id}}">
                                        <button class="focus:outline-none text-red-600 font-bold py-2 px-4 rounded-md border border-red-600 hover:bg-red-50"
                                                type="submit" name="delete" value="{{second}}"> Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-row py-2">
                            <div class=" flex w-8/12">
                                {% if third|length < 1 %}
                                <img class="rounded-md items-center" src="/pictures/none.jpg" alt="?">
                                {% else %}
                                <img class="rounded-md items-center" src="/pictures/{{id}}/{{third}}" alt="?">
                                {% endif%}

                                <div class="flex flex-col items-center ">
                                    <form method="post" action="/upload/{{id}}" enctype="multipart/form-data">
                                        <label class=" m-2 bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                            <span class="mt-2 text-base leading-normal">Select </span>
                                            <input type='file' class="hidden" name="image"/>
                                        </label>
                                        <button class=" m-2 bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                                type="submit" name="upload" value="third"> Upload
                                        </button>
                                    </form>

                                    <form method="post" action="/delete/{{id}}">
                                        <button class="focus:outline-none text-red-600 font-bold py-2 px-4 rounded-md border border-red-600 hover:bg-red-50"
                                                type="submit" name="delete" value="{{third}}"> Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
</body>
</html>